:root {
    --row-count: 16;
    --column-count: 16;
    --primary-bg: #d7ccc8;
    --secondary-bg: #fafafa;
    --tertiary-bg: #212121;
    --paint-color: black;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: table;
    padding: 0;
    background-color: var(--primary-bg);
}

#header {
    padding: 0.6rem 0;
}

.title {
    color: var(--tertiary-bg);
    text-align: center;
    font-size: 2.4em;
}

#main {
    margin: 0.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 5rem;
}

#container {
    display: grid;
    box-shadow: rgba(0, 0, 0, 0.24) 4px 9px 12px;;
    width: 310px;
    height: 310px;
    grid-template-columns: repeat(var(--row-count), 1fr);
    grid-template-rows: repeat(var(--column-count), 1fr);
    background-color: var(--secondary-bg);
}

.slide-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.slider {
    opacity: 0.7;
    transition: opacity 0.2s;
    outline: none;
}

.slider:hover {
    opacity: 1;
    cursor: pointer;
}

.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    margin-bottom: 2.5rem;
}

.button {
    width: 150px;
    padding: 12px 12px;
    font-size: 1.1em;
    text-align: center;
    outline: none;
    border: 1px solid var(--tertiary-bg);
    border-radius: 6px;
    transition: background-color 200ms;
}

.button:hover {
    cursor: pointer;
}

.button:hover:not(.active) {
    background-color: #e0e0e0;
}

.active {
    background-color: var(--tertiary-bg);
    color: var(--secondary-bg);
}

.color-input {
    outline: none;
    padding: 0;
    border: 1px solid white;
    height: 65px;
    width: 65px;
    transition: opacity 200ms;
}

.color-input:hover {
    opacity: 0.85;
}

/* https://stackoverflow.com/questions/643879/css-to-make-html-page-footer-stay-at-bottom-of-the-page-with-a-minimum-height-b/25218797#25218797 */
footer {
    display: table-row;
    height: 0;
    text-align: center;
}

@media only screen and (min-width: 600px) {
    .title {
        font-size: 2.6em;
    }

    #main {
        margin-top: 0.1rem;
    }

    #container {
        width: 450px;
        height: 450px;
    }
    
    #value {
        font-size: 1.2em;
    }

    .slider {
        width: 12rem;
    }

    .button {
        width: 180px;
        height: 3.5rem;
        padding: 6px 6px;
    }
}

@media only screen and (min-width: 768px) {
    .title {
        font-size: 3em;
    }

    #main {
        flex-direction: row-reverse;
        gap: 5rem;
    }

    .slide-container {
        margin-top: 1.5rem;
    }

    .settings {
        gap: 1.5rem;
    }

    .button {
        width: 150px;
        height: 3.3rem;
    }
}

@media only screen and (min-width: 992px) {
    #main {
        margin-top: 2.8rem;
    }

    .settings {
        gap: 1.6rem;
    }

    .button {
        width: 160px;
        height: 3.8rem;
    }

    #container {
        width: 500px;
        height: 500px;
    }

    .color-input {
        width: 80px;
        height: 80px;
    }
}